<% layout('layout') -%>

<div class="container">
    <h2 id="main-title"><img src="/img/jakt-logo.jpg"> Slack links</h2>

    <div id="react-main-mount">
        <%- reactOutput %>
    </div>
</div>

<script id="initial-state-links" type="application/json"><%- links %></script>
<script id="initial-state-channels" type="application/json"><%- channels %></script>
<script id="initial-state-users" type="application/json"><%- users %></script>
<script id="initial-state-currentUser" type="application/json"><%- userJSON %></script>

<script src="https://cdn.socket.io/socket.io-1.1.0.js"></script>
<script src="/main.js"></script>
